body {
  background-color: black;
  color: white;
  font-family: Cascadia Code;
}

:link {
  outline: Green:
  color: Green;
  /* The default value of background-color is `transparent`. You need to
     specify a different value, otherwise changes on :visited won't apply. */
}

:visited {
  outline: darkgreen;
  color: darkgreen;            /* Visited links have yellow colored text */
}
